/* ======== variable ======== */
@import url(variable.css);

/* ======== reset CSS ======== */
* {
    margin: 0;
    padding: 0;
}
html,
body {
    box-sizing: border-box;
}
ul {
    list-style: none;
}
.container {
    display: grid;
    grid-template-rows: 70px 1fr 1fr; /* grid 살려줘..... */
}
.container .s_header {
    width: 100%;
    height: 70px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
}
.container .s_header a {
    color: #fff;
    text-decoration: none;
}
.container .s_main .s_main1 {
    background-color: #FFCDD2;
    text-align: center;
}
.container .s_main .s_main1 .s_main1_1 {
    font-size: 50px;
    font-weight: bold;
}
.container .s_main .s_main1 .s_main1_2 {
    font-size: 30px;
}
.container .s_main .s_main1 .s_main1_4 {
    font-size: 12px;
}
.container .s_main .s_main1 .s_main1_4 .s_main1_4_1 {
    text-decoration: underline;
}
.container .s_main .s_main2 {
    background-color: #000;
    color: #fff;
}
.container .s_main .s_main2 a {
    color: #fff;
    text-decoration: none;
}




.fa-brands fa-instagram {
    background-color: gray;
    border-radius: 50%;
}