/* ======== variable ======== */
@import url(variable.css);

/* ======== reset CSS ======== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
.container {
    background-color: #000;
    width: 100%
    height: 100vh;
}
.container .s_header {
    background-color: #000;
    color: #fff;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
} /* 세로가운데정렬, width값 */

.container .s_header .s_header_c {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .s_header .s_header_c a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
}
.container .s_header .s_header_c a:hover {
    color : #1ED760;
}





.container .s_main {
    background-color: #FFCDD2;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.container .s_main .s_main_1 {
    font-size: 50px;
    font-weight: bold;
    width: 70%;
    text-align: center;

}
.container .s_main .s_main_2 {
    font-size: 30px;
    width: 70%;
    text-align: center;
}
.container .s_main .s_main_3 {
    width: 70%;
    text-align: center;

}
.container .s_main .s_main_4 {
    font-size: 12px;
    width: 70%;
    text-align: center;
}
.container .s_main .s_main_4 .s_main_4_1 {
    text-decoration: underline;
} /* 세로가운데정렬, width값 */





.container .s_footer {
    background-color: #000;
    color: gray;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.container .s_footer .s_footer1 {
    display : flex;
    flex-direction: row;
    justify-content : space-between;
    width: 70%
}
.container .s_footer .s_footer2 {
    display : flex;
    justify-content : flex-end;
    width: 70%
}
.container .s_footer .s_footer3 {
    display : flex;
    justify-content: space-between;
    width: 70%
}

.container .s_footer .s_footer1 .s_footer1_1 {
    display : flex;
}
.container .s_footer .s_footer1 .s_footer1_2 {
    display : flex;
}
.container .s_footer .s_footer1 .s_footer1_3 {
    display : flex;
}
.container .s_footer a {
    color: gray;
    text-decoration: none;
}
.container .s_footer a:hover {
    color: #1ED760;
}
.container .s_footer .s_footer1 .s_footer1_2 th {
    color: gray;
}
.container .s_footer .s_footer1 .s_footer1_2 td a {
    color: #fff;
}
.container .s_footer .s_footer1 .s_footer1_2 td a:hover {
    color: #1ED760;
}
.container .s_footer .s_footer1 .s_footer1_3 .mark1 {
    width: 50px;
    height: 50px;
    background-color: #222326;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .s_footer .s_footer1 .s_footer1_3 .mark2 {
    width: 50px;
    height: 50px;
    background-color: #222326;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .s_footer .s_footer1 .s_footer1_3 .mark3 {
    width: 50px;
    height: 50px;
    background-color: #222326;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

th, td {
    padding: 10px;   
}